.card-text, .card.card-inverse .card-title, .card.card-inverse .card-footer, .card.card-inverse a, .card.card-inverse a:hover, .card.card-inverse label, .card.card-inverse span, .card.card-inverse .form-group:hover, .card.card-inverse div, .card.card-inverse input {
  color: #424242;
}

.login {
  background: #0f73ca;
}

.card-login{
  color: #222222;
  background: #07253f;
}