.modal-view-prof{
    background: #1d6ca0;;
    color: #ffffff;
    height: 50px;
}

.dados-client{
    height: 40px;
    padding-top: 10px;
}

.input-agenda{
    height: 60px;
}

.number-prof{
    margin-top: 5px;
}