.modal-operator{
    background: #1d6ca0;;
    color: #ffffff;
    height: 50px;
}
.modal-view-prof{
    background: #1d6ca0;;
    color: #ffffff;
    height: 50px;
}

.border-view{
    border: rgba(122, 122, 122, 0.55) solid 1px;
    border-radius: 6px;
}
.title-view{
    margin-bottom: 5px;
    margin-top: 20px;
    font-weight: 600;
}
.title-view-p{
    margin-bottom: 5px;
    margin-top: 20px;
    font-weight: 600;
}
.form-view{
    margin-top: -15px;
}
.dados-client{
    height: 30px;
}
